* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.dog-head {
  z-index: 100;
  animation: head-move 1s ease-in-out infinite;
}

div.dog-body {
  height: 300px;
  width: 225px;
  margin-top: -175px;
  margin-left: 40px;
  background-image: url("http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png");
  background-repeat: no-repeat;
}

/* ANIMATIONS */

@keyframes head-move {
  50% {
    transform: rotate(-1.5deg);
  }
}
