* {
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 120px;
  position: initial;
}
nav a:hover {
  color: #292929;
}
main {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
main section {
  min-height: 1162px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 90px 40px;
}
main section h3 {
  width: 400px;
  height: 90px;
  letter-spacing: 00.06em;
  text-align: center;
}
#card-container {
  width: 100%;
  min-height: 930px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 45px 0;
}
#navigation {
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.nav-button {
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.nav-button h4 {
  color: #292929;
}
.btn-disabled {
  border-color: #cdcdcd !important;
  cursor: initial;
  user-select: none;
}
.btn-disabled:hover {
  background-color: initial;
}
.btn-disabled h4 {
  color: #cdcdcd !important;
}
.activated {
  background-color: #f1cdb3;
}
